NODE_ENV=''
PORT=''
API_URL=''

JWT_SECRET=''

CRYPTO_SECRET=''
CLOUDGYM_API_BASE_URL=''

S3=''
S3_AKEY=''
S3_SKEY=''
S3_BUCKET=''
S3_REGION=''
S3_STYLE=''

DATABASE_URL="postgresql://user:senha@host:5432/db?schema=public"